
/* 회원가입 페이지 시작 */

.kal-jh-regist-main-wrapper{
	width:100%;
}
.kal-regist-main-logo{
	display:block;
	margin:40px auto 0;
	text-align:center;
	text-decoration:none;
}
.kal-jh-regist-sub-wrapper1{
	width:500px;
	margin:40px auto 0;
	border:1px solid #0180a3;
	padding:30px 50px;
	border-bottom:none;
}
.kal-jh-regist-sub-wrapper1 h1{
	font-size:30px;
	font-weight:bold;
	text-align:center;
}
.kal-jh-regist-headerText{
	font-size:14px;
	text-align:center;
	padding:30px 0;
	display:block;
	color:#c42525;
}
.kal-jh-regist-area1{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-id{
	padding-right:50px;
}
.kal-jh-regist-inputBox-id{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.kal-jh-regist-area1-idcheckBtn{
	margin-left:10px;
	background-color:#c42525;
	width:110px;
	color:white;
	font-size:15px;
	border-radius:3px;
	cursor:pointer;
	padding:8px 10px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-regist-area1-idcheckBtn:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.id-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-inputBox-text-pw{
	padding-right:35px;
}
.kal-jh-regist-inputBox-pw{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.pw-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-sub-wrapper2{
	width:500px;
	margin:0 auto 80px;
	border:1px solid #0180a3;
	padding:30px 50px 0;
}
.kal-jh-regist-area3{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-korname{
	padding-right:38px;
}
.kal-jh-regist-inputBox-korname{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.korname-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-inputBox-text-familyname{
	font-family:'Malgun Gothic';
	padding-right:12px;
}
.kal-jh-regist-area4{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-familyname{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.familyname-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-area5{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-firstname{
	font-family:'Malgun Gothic';
	padding-right:29px;
}
.kal-jh-regist-inputBox-firstname{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.firstname-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-area6{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-phoneno{
	padding-right:58px;
}
.kal-jh-regist-inputBox-phoneno{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.phoneno-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-area7{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-birth{
	padding-right:43px;
}
.kal-jh-regist-inputBox-birth{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.birth-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-area8{
	padding-bottom:20px;
}
.kal-jh-regist-inputBox-text-email{
	padding-right:60px;
}
.kal-jh-regist-inputBox-email{
	width:250px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.passportno-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-regist-inputBox-text-addr{
	padding-right:60px;
}
.kal-jh-regist-inputBox-addr1{
	width:250px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.kal-jh-regist-inputBox-addr2{
	display:block;
	width:250px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:20px 108px 0;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.kal-jh-regist-inputBox-addr-btn{
	margin-left:10px;
	background-color:#c42525;
	width:100px;
	color:white;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	padding:7.5px 5px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-regist-inputBox-addr-btn:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.kal-jh-regist-inputBox-email-btn{
	margin-left:10px;
	background-color:#c42525;
	width:100px;
	color:white;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	padding:7.5px 5px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-regist-inputBox-email-btn:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.kal-jh-auth-head-text{
	text-align:center;
	font-size:20px;
	font-weight:bold;
	color:#0180a3;
	letter-spacing:1px;
	margin-bottom:10px;
	margin-top:10px;
}
.kal-jh-auth-wrapper{
	width:100%;
	text-align:center;
	padding:10px 0;
}
.kal-jh-auth-input{
	width:250px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	text-align:center;
	margin:0 auto 20px;
	border-radius: 5px;
    border: 1px solid #0180a3;
}
.kal-jh-auth-submit-btn{
	margin-left:10px;
	background-color:#0180a3;
	width:100px;
	color:white;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	padding:7.5px 5px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #0180a3;
}
.kal-jh-auth-submit-btn:hover{
	color:white;
	border:1px solid #186686;
	background:#094f68;
	transition:0.5s;
}
.kal-jh-regist-area9{
	padding-bottom:20px;
}

.kal-jh-regist-inputBox-text-gender{
	padding-right:75px;
}
.kal-jh-regist-area11 span{
	margin-right:22px;
}
.kal-jh-regist-inputBox-gender{
	margin-right:20px;
}
.kal-jh-regist-area12{
	text-align:center;
	padding-top:20px;
}
.kal-jh-regist-submit{
	background-color:#c42525;
	width:150px;
	color:white;
	font-size:18px;
	margin-top:10px;
	margin-bottom:30px;
	border-radius:3px;
	cursor:pointer;
	padding:7px 26px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-regist-submit:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.regist-first-spell{
	color: #c42525;
    font-size: 46px;
    font-weight: bold;
}
.regist-text{
	font-size: 46px;
    color: black;
    font-weight: bold;
}
.regist-subtext{
	display: block;
    color: black;
}
.addr-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.gender-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.email-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
.emailAuth-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:inline-block;
	position:relative;
	left:105px;
	color:red;
}
/* mypage navigation css */
.kal-jh-mypage-navibar-ul{
	width:100%;
    list-style-type: none;
    overflow: hidden;
    background-color: #434343;
}
.kal-jh-mypage-navibar-li {
    float: left;
}
.kal-jh-mypage-navibar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.kal-jh-mypage-navibar-li a:hover {
	color:black;
    background-color: #eaf0f2;
}
/* mypage css */
.kal-jh-mypage-container{
	width:100%;
	min-height:100%;
}
.kal-jh-mypage-subwrapper{
	width:960px;
	border: 1px solid #434343;
	margin:50px auto;
}
.kal-jh-mypage-container h1{
	font-size:28px;
	font-weight:bold;
	text-align:center;
	margin-top:50px;
}
/* mypage userinfo css */
.kal-jh-mypage-userinfo-content-wrapper1{
	border-bottom:1px solid #434343;
}
.kal-jh-mypage-maintext{
	font-size:20px;
	font-weight:bold;
	padding:20px 20px 0;
}
.kal-jh-mypage-userInfo-txt1{
	padding:0 20px 20px;
}
.kal-jh-mypage-userInfo-txt1 span{
	display:inline-block;
}
.kal-jh-mypage-userInfo-korname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userInfo-korname{
	padding:5px 0;
}
.kal-jh-mypage-userInfo-engname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userInfo-engname{
	padding:5px 0;
}

.kal-jh-mypage-userinfo-content-wrapper2{
	border-bottom:1px solid #434343;
}
.kal-jh-mypage-userInfo-txt2{
	padding:0 20px 20px;
}
.kal-jh-mypage-userInfo-txt2 span{
	display:inline-block;
}
.kal-jh-mypage-userInfo-email-text{
	padding-top:20px;
	font-weight:bold;
	padding-right:42px;
}
.kal-jh-mypage-userInfo-email{
	padding:5px 0;
}
.kal-jh-mypage-userInfo-addr-text{
	font-weight:bold;
	padding-right:42px;
}
.kal-jh-mypage-userInfo-addr{
	padding:5px 0;
}
.kal-jh-mypage-userInfo-txt3{
	padding:20px 20px 20px;
}
.kal-jh-mypage-userInfo-txt3 span{
	display:inline-block;
}
.kal-jh-mypage-userInfo-phoneno-text{
	font-weight:bold;
	padding-right:42px;
}
.kal-jh-mypage-userInfo-phoneno{
	padding:5px 0;
}

/* mypage usermodify css */
.kal-jh-mypage-userupdate-content-wrapper1{
	border-bottom:1px solid #0180a3;
}
.kal-jh-mypage-userUpdate-txt1{
	padding:0 20px 20px;
}
.kal-jh-mypage-userUpdate-txt1 span{
	display:inline-block;
}
.kal-jh-mypage-userUpdate-korname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userUpdate-korname{
	padding:5px 0;
}
.kal-jh-mypage-userUpdate-engname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userUpdate-engname{
	padding:5px 0;
}
.kal-jh-mypage-userUpdate-content-wrapper2{
	border-bottom:1px solid #434343;
}
.kal-jh-mypage-userUpdate-txt2{
	padding:20px 20px 20px;
}
.kal-jh-mypage-userUpdate-txt2 span{
	display:inline-block;
}
.kal-jh-mypage-userUpdate-id-text{
	font-weight:bold;
	padding-right:52px;
}
.kal-jh-mypage-userUpdate-id{
	padding:10px 0;
}
.kal-jh-mypage-userUpdate-pw-text{
	padding-right:15px;
	font-weight:bold;
}
.kal-jh-mypage-userUpdate-pw{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:0 auto;
	border-radius: 5px;
    border: 1px solid #434343;
}


.kal-jh-mypage-userUpdate-txt3{
	padding:20px 20px 20px;
}
.kal-jh-mypage-userUpdate-txt3 span{
	display:inline-block;
}
.kal-jh-mypage-userUpdate-email-text{
	padding-right:32px;
	font-weight:bold;
}
.kal-jh-mypage-userUpdate-email{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:10px auto;
	border-radius: 5px;
    border: 1px solid #434343;
}
.kal-jh-mypage-userUpdate-phoneno-text{
	padding-right:32px;
	font-weight:bold;
}
.kal-jh-mypage-userUpdate-phoneno{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:10px auto;
	border-radius: 5px;
    border: 1px solid #434343;
}
.kal-jh-mypage-userUpdate-addr-text{
	padding-right:32px;
	font-weight:bold;
}
.kal-jh-mypage-userUpdate-addr1{
	width:300px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:10px auto;
	border-radius: 5px;
    border: 1px solid #434343;
}
.kal-jh-mypage-userUpdate-addr2{
	display:inline-block;
	width:300px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	margin:10px 102px 0;
	border-radius: 5px;
    border: 1px solid #434343;
}
.kal-jh-mypage-userUpdate-addr-btn{
	margin-left:10px;
	background-color:#c42525;
	width:100px;
	color:white;
	font-size:16px;
	border-radius:3px;
	cursor:pointer;
	padding:7.5px 5px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-mypage-userUpdate-addr-btn:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.kal-jh-mypage-userUpdate-content-wrapper4{
	text-align:center;
}
.kal-jh-mypage-userUpdate-submitBtn{
	background-color:#c42525;
	width:150px;
	color:white;
	font-size:18px;
	margin-top:10px;
	margin-bottom:30px;
	border-radius:3px;
	cursor:pointer;
	padding:7px 26px;
	display:inline-block;
	box-shadow:0 1px 2px 1px rgba(0,0,0,0.2);
	border:1px solid #c42525;
}
.kal-jh-mypage-userUpdate-submitBtn:hover{
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.mypage-update-pw-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 0 0;
	text-align:left;
	display:block;
	position:relative;
	left:105px;
	color:red;
}
.mypage-update-email-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:10px 0;
	text-align:left;
	display:block;
	position:relative;
	left:105px;
	color:red;
}
.mypage-update-phoneno-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:10px 0;
	text-align:left;
	display:block;
	position:relative;
	left:105px;
	color:red;
}
.mypage-update-addr-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:10px 0;
	text-align:left;
	display:block;
	position:relative;
	left:105px;
	color:red;
}
.kal-jh-mypage-userReservation-content-wrapper1{
	border-bottom:1px solid #0180a3;
}
.kal-jh-mypage-userReservation-txt1{
	padding:0 20px 20px;
}
.kal-jh-mypage-userReservation-txt1 span{
	display:inline-block;
}
.kal-jh-mypage-userReservation-korname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-korname{
	padding:5px 0;
}
.kal-jh-mypage-userReservation-engname-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-engname{
	padding:5px 0;
}
.kal-jh-mypage-userReservation-content-wrapper2{
	border-bottom:1px solid #0180a3;
}
.kal-jh-mypage-userReservation-txt2{
	padding:20px 20px 20px;
}
.kal-jh-mypage-userReservation-txt2 p{
	font-size:18px;
	font-weight:bold;
	padding-bottom:20px;
}
.kal-jh-mypage-userReservation-sche-date1-text{
	font-weight:bold;
	padding-right:52px;
}
.kal-jh-mypage-userReservation-departure1-text{
	font-weight:bold;
	padding-right:50px;
}
.kal-jh-mypage-userReservation-departure1{
	padding:5px 0;
	display:inline-block;
}
.kal-jh-mypage-userReservation-arrival1-text{
	font-weight:bold;
	padding-right:50px;
}
.kal-jh-mypage-userReservation-arrival1{
	padding:0 60px;
}
.kal-jh-mypage-userReservation-departure-time1-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-arrival-time1-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-arrival-time1{
	padding-left:126px;
}
.kal-jh-mypage-userReservation-content-wrapper2{
	border-bottom:1px solid #0180a3;
}
.kal-jh-mypage-userReservation-txt3{
	padding:20px 20px 20px;
}
.kal-jh-mypage-userReservation-txt3 p{
	font-size:18px;
	font-weight:bold;
	padding-bottom:20px;
}
.kal-jh-mypage-userReservation-sche-date2-text{
	font-weight:bold;
	padding-right:52px;
}
.kal-jh-mypage-userReservation-departure2-text{
	font-weight:bold;
	padding-right:50px;
}
.kal-jh-mypage-userReservation-departure2{
	padding:5px 0;
	display:inline-block;
}
.kal-jh-mypage-userReservation-arrival2-text{
	font-weight:bold;
	padding-right:50px;
}
.kal-jh-mypage-userReservation-arrival2{
	padding:0 35px;
}
.kal-jh-mypage-userReservation-departure-time2-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-arrival-time2-text{
	font-weight:bold;
	padding-right:30px;
}
.kal-jh-mypage-userReservation-arrival-time2{
	padding-left:126px;
}

/* userDelete page css */

.kal-jh-mypage-userDelete-txt1{
	padding:70px 20px;
}
.kal-jh-mypage-userDelete-txt1 span{
	display:inline-block;
}
.kal-jh-mypage-userDelete-pw-text{
	padding-right:30px;
	font-weight:bold;
}
.kal-jh-mypage-userDelete-pw{
	width:200px;
	padding:10px;
	font-size:14px;
	letter-spacing:1px;
	border-radius: 5px;
    border: 1px solid #434343;
}
.kal-jh-mypage-userDelete-submitBtn{
	color:white;
	width:120px;
	padding:8px 5px;
	border:1px solid #c42525;
	background:#c42525;
	font-size:16px;
	border-radius:10px;
	margin-left:20px;
	cursor:pointer;
}

.kal-jh-mypage-userDelete-submitBtn:hover {
	color:white;
	border:1px solid #931616;
	background:#931616;
	transition:0.5s;
}
.mypage-delete-pw-check-text{
	font-size:14px;
	letter-spacing:1px;
	padding:20px 25px 0;
	text-align:left;
	display:block;
	position:relative;
	left:105px;
	color:red;
}

/* 
===============
   main css start
=============== 
*/

.kal-background-section{
	width:100%;
	height:600px;
	position:relative;
	background-image:url("/web/resources/img/main/jlab-mainbackground.jpg");
	background-size:cover;
	background-position:center;
	overflow:hidden;
}
.kal-main-logo>a{
	text-decoration:none;
	font-weight:bold;
	font-size:32px;
	color:black;	
}

.main-logo-firstspell{
	color:#c42525;
}

.main-logo-subtitle{
	font-weight: normal;
    font-size: 12px;
    position: relative;
    top: 12px;
    right: 50px;
}

/* 헤더 부분 */
   .kal-header{
      width:100%;
   }
   /* 서브 네비게이션 */
   /* before-login */
   .kal-before-login-sub-gnb{
      height:40px;
      background:#434343;
   }
   .kal-before-login-sub-left-menu{
      width:300px;
      float:left;
      margin-top:11px;
      margin-left:10px;
   }
   .kal-before-login-sub-left-menu-region-select-btn{
      background:none;
      border:none;
      color:white;
      font-weight:bold;
      font-size:12px;
      cursor:pointer;
   }
   .kal-before-login-region-select-btn>img{
   	  padding-left:8px; 
   }
   .kal-before-login-sub-left-menu-text1{
      color:white;
      font-weight:bold;
      font-size:12px;
   }
   .kal-before-login-sub-left-menu-text1>img{
      padding-right:10px;
   }
   .kal-before-login-sub-left-menu-text2{
   	  color:white;
   	  font-size:12px;
   	  font-weight:bold;
   	  padding-right:5px;
   	  text-decoration:underline;
   }
   .kal-before-login-sub-left-menu-text3{
   	  color:white;
   	  font-size:12px;
   	  text-decoration:none;
   }
   .kal-before-login-sub-right-menu{
   	  width:300px;
   	  float:right;
   	  margin-top:11px;
   	  margin-right:4px;
   }
   .kal-before-login-sub-right-menu-login{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-before-login-sub-right-menu-regist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   
   .kal-before-login-sub-right-menu-admin{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-before-login-sub-right-menu-wishlist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
      padding-right:8px;
   }
   .kal-before-login-sub-right-menu-search{
      font-size:12px;
      color:gray;
      width:80px;
   }
   .kal-before-login-sub-right-menu-search-icon>img{
      position:absolute;
      top:14px;
      right:52px;
   }
   /* after-login */
   .kal-after-login-sub-gnb{
      height:40px;
      background:#434343;
   }
   .kal-after-login-sub-left-menu{
      width:300px;
      float:left;
      margin-top:11px;
      margin-left:10px;
   }
   .kal-after-login-sub-left-menu-region-select-btn{
      background:none;
      border:none;
      color:white;
      font-weight:bold;
      font-size:12px;
      cursor:pointer;
   }
   .kal-after-login-region-select-btn>img{
   	  padding-left:8px; 
   }
   .kal-after-login-sub-left-menu-text1{
      color:white;
      font-weight:bold;
      font-size:12px;
   }
   .kal-after-login-sub-left-menu-text1>img{
      padding-right:10px;
   }
   .kal-after-login-sub-left-menu-text2{
   	  color:white;
   	  font-size:12px;
   	  font-weight:bold;
   	  padding-right:5px;
   	  text-decoration:underline;
   }
   .kal-after-login-sub-left-menu-text3{
   	  color:white;
   	  font-size:12px;
   	  text-decoration:none;
   }
   .kal-after-login-sub-right-menu{
   	  width:320px;
   	  float:right;
   	  margin-top:11px;
   	  margin-right:4px;
   }
   .kal-after-login-sub-right-menu-logout{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-after-login-sub-right-menu-mypage{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   
   .kal-after-login-sub-right-menu-myregist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
   }
   .kal-after-login-sub-right-menu-wishlist{
      text-decoration:none;
      font-weight:bold;
      font-size:12px;
      color:white;
      padding-right:8px;
   }
   .kal-after-login-sub-right-menu-search{
      font-size:12px;
      color:gray;
      width:80px;
   }
   .kal-after-login-sub-right-menu-search-icon>img{
      position:absolute;
      top:14px;
      right:36px;
   }
   /* 메인 네비게이션 */
   .kal-main-gnb{
      height:60px;
      border-bottom:4px solid #c42525;
   }
   .kal-main-logo{
      float:left;
      padding-top:13px;
      padding-left:20px;
   }
   .kal-main-right-menu{
   	  width:690px;
   	  float:right;
   	  padding-top:10px;
   	  padding-right:10px;
   	  text-align: right;
      margin-right: 10px;
   }
   .kal-main-right-menu-reservation-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/company-info.png");
      background-repeat:no-repeat;
	  background-size: 35px;
      background-position-y: 2px;
   }
   .kal-main-right-menu-skypass-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/company-buisness.png");
      background-size: 35px;
      background-position-y: 2px;
      background-repeat:no-repeat;
   }
   .kal-main-right-menu-service-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/company-notice.png");
      background-size: 35px;
      background-position-y: 2px;
      background-repeat:no-repeat;
      position: relative;
   }
   .kal-service-btn-content{
    text-decoration:none;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 800;
	}
   .kal-service-btn-content>a{
   	  color:#4f8ba3;
   	  text-decoration:none;
   	  font-size:16px;
   	  padding:10px 20px;
   }
   .kal-service-btn-content-faq{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .after-login-kal-service-btn-content-faq{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .kal-service-btn-content-question{
   	  display:inline-block;
      margin-bottom:5px;
   }
   .after-kal-service-btn-content-question{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .after-login-kal-service-btn-content-question{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .kal-service-btn-content-review{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .after-login-kal-service-btn-content-review{
   	  display:inline-block;
      margin-bottom:3px;
   }
   .kal-main-right-menu-service-btn:hover .kal-service-btn-content{
    display: block;
	}
   .kal-main-right-menu-promotion-btn{
      cursor:pointer;
      padding:0 20px 0 40px;
      height:40px;
      background:none;
      border:none;
      font-size:18px;
      color:#333;
      background-image:url("/web/resources/img/main/company-location.png");
      background-size: 28px;
      background-repeat:no-repeat;
   }
   
   /* 풋터 부분 */
   .kal-footer{
      width:100%;
      height:400px;
	  background:#434343;
   }
   .kal-footer-wrap{
      padding:100px 280px;
   }
   .kal-footer-left-content{
      width:900px;
      float:left;
   }
   .kal-footer-left-content-menu{
      position:relative;
   }
   .kal-footer-left-content-menu h2{
      color:white;
      font-weight:bold;
      font-size:18px;
   }
   .kal-footer-left-content-menu-1{
      width:180px;
   }
   .kal-footer-left-content-menu-1>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-1-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-1-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-1-li4>a{
      color:white;
      text-decoration:none;
   }
   /* ------------------- */
   .kal-footer-left-content-menu-2{
      position:absolute;
      top:0;
      left:250px;
      width:180px;
   }
   .kal-footer-left-content-menu-2{
      width:180px;
   }
   .kal-footer-left-content-menu-2>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-2-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-2-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-2-li4>a{
      color:white;
      text-decoration:none;
   }
   /* -------------------------- */
   .kal-footer-left-content-menu-3{
      position:absolute;
      top:0;
      left:500px;
      width:180px;
   }
   .kal-footer-left-content-menu-3{
      width:180px;
   }
   .kal-footer-left-content-menu-3>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-3-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-3-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-3-li4>a{
      color:white;
      text-decoration:none;
   }
   /* -------------------------------- */
   .kal-footer-left-content-menu-4{
      position:absolute;
      top:0;
      left:750px;
      width:180px;
   }
   .kal-footer-left-content-menu-4{
      width:180px;
   }
   .kal-footer-left-content-menu-4>ul{
      margin-top:20px;
      padding:0 10px;
      border-left:1px solid white;
   }
   .kal-footer-left-content-menu-4-li1{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li1>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li2{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li2>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li3{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li3>a{
      color:white;
      text-decoration:none;
   }
   .kal-footer-left-content-menu-4-li4{
      padding-bottom:10px;
   }
   .kal-footer-left-content-menu-4-li4>a{
      color:white;
      text-decoration:none;
   }
   
   .kal-footer-right-content{
   	  float:right;
   	  background-image:url("/web/resources/img/main/logo-visitkorea.png");
   	  background-repeat:no-repeat;
	  width:88px;
	  height:59px;
   }
   .kal-footer-left-content-address-sns{
      margin-top:50px;
      text-align:right;
   }
    .kal-footer-left-content-address-sns img{
      margin-right:10px;
   }
   
   /* login page css */
.kal-gg-mainlogo{
	text-decoration:none;
}
.kal-gg-loginbox{width: 550px; height: auto;  margin:0 auto;}
.kal-gg-loginbox-img{margin-top: 35%; margin-bottom:35px; text-align: center;}
.kal-gg-loginbox-big-box{width:412px; height:auto; margin:0 auto;}
.kal-gg-loginbox-box-id{width:390px; height:50px; border:1px solid #ccc; border-bottom:0; padding-left:20px;}
.kal-gg-loginbox-box-pass{width:390px; height:50px; border:1px solid #ccc; padding-left:20px;}
.kal-gg-loginbox-middle-text {font-size:13px; color:#767676; margin:20px 0px; }
.kal-gg-loginbox-middle-text div{float:right;}
.kal-gg-click-text-area{padding-left:20px;}
.kal-gg-click-text-area a{text-decoration:none; color:#767676;}
.kal-gg-loginbox-middle-text span{color:#ebebeb}
.kal-gg-loginbox-login-btn{background-color:#c42525; border:2px solid #c42525; width:412px; height:60px; color:white; cursor: pointer;}
.kal-gg-loginbox-login-btn:hover{background-color:#931616; border:2px solid #931616; width:412px; height:60px; color:white; cursor: pointer; transition:0.5s;}
.kal-gg-loginbox-under{font-size:13px; color:#767676; margin:50px auto; text-align: center;} 
.kal-gg-loginbox-under span{color:#767676; padding:0 10px;  }
.kal-gg-loginbox-under a{margin-left:5px; color:#ebebeb}
.login-first-spell{
	color: #c42525;
    font-size: 46px;
    font-weight: bold;
}
.login-text{
	font-size: 46px;
    color: black;
    font-weight: bold;
}
.logo-subtext{
	display: block;
    color: black;
}
/* 
===============
   main css end
=============== 
*/